<div class="container">
  <div class="inner-container">
    <div>
      <img
        src="assets/images/dashboard/employee-count.svg"
        alt="nintriva logo"
        class="image-offset"
      />

      <img
        src="assets/images/dashboard/ongoing-projects.svg"
        alt="ongoing-projects"
        class="image-offset"
      />

      <img
        src="assets/images/dashboard/punch-in-status.svg"
        alt=""
        class="image-offset"
      />
    </div>

    <div>
      <div class="project-management-title-container">
        <h3>Project Management</h3>
        <span class="view-all">View All</span>
      </div>

      <img
        src="assets/images/dashboard/kesher.svg"
        alt=""
        class="image-offset"
      />

      <img
        src="assets/images/dashboard/ibs-retail.svg"
        alt=""
        class="image-offset"
      />

      <img
        src="assets/images/dashboard/toffeeride.svg"
        alt=""
        class="image-offset"
      />

      <img
        src="assets/images/dashboard/makisys.svg"
        alt=""
        class="image-offset"
      />
    </div>

    <div class="dotted-scroll-container">
      <img src="assets/images/dashboard/dot-scroll.svg" alt="" />
    </div>

    <img src="assets/images/dashboard/leave-management.svg" alt="" />
  </div>

  <aside>
    <mfa-card>
      <h3 class="card-title">Overall mental status</h3>
      <div class="overall">
        <img src="assets/images/dashboard/mental-status/happy.svg" alt="" />
        <span class="text">75%</span>
      </div>

      <div class="attention">
        <img src="assets/images/dashboard/mental-status/alert.svg" alt="" />
        <span>4 employees in need of attention</span>
      </div>
    </mfa-card>

    <img
      src="assets/images/dashboard/on-leave.svg"
      alt=""
      class="image-offset"
    />

    <img
      src="assets/images/dashboard/calendar.svg"
      alt=""
      class="image-offset calendar-image"
    />
  </aside>
</div>

<!-- <mfa-chat-dialog></mfa-chat-dialog> -->
