<div class="login-container">
  <div class="img-container">
    <div class="img-and-text">
      <img src="assets/images/nms-logo.svg" alt="nms logo" />
      <div class="title">Nintriva Management System</div>
    </div>
    <div class="text-container">
      <p class="text">Design</p>
      <p class="text">Develop</p>
      <p class="text">Deploy</p>
    </div>
  </div>
  <div class="input-container">
    <form class="input-sub-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="title">Login</div>
      <div class="input-box">
        <img src="assets/images/mail.svg" alt="mail" />
        <input type="email" formControlName="email" placeholder="Email"  required=""/>
      </div>
      <div class="input-box password">
        <img src="assets/images/key.svg" alt="key" />
        <input
          type="password"
          formControlName="password"
          placeholder="Password" required=""
        />
      </div>
      <div class="forgot-password">
        <a title="Don't click">Forgot Password ?</a>
      </div>
      <div class="button">
        <button type="submit" class="login-btn">Login</button>
      </div>
    </form>
  </div>
</div>
