.side-nav-container {
  display: flex;
  width: 257px;
  padding: 15px;
  flex-direction: column;
  height: 100vh;

  .nav-title {
    display: flex;
    padding-top: 16px;
    padding-left: 16px;

    img {
      width: 30px;
      height: 30px;
    }
    .text {
      font-weight: 700;
      font-size: 24px;
      padding: 0 24px;
      margin: 0;
      flex: 1;
    }
  }
  .nav-content {
    margin-top: 120px;

    .side-nav {
      display: flex;
      align-items: center;
      padding: 18px;
      text-decoration: none;
      color: black;

      .nav {
        display: flex;
        align-items: center;
        border-radius: 6px;

        &:hover {
          filter: invert(63%) sepia(49%) saturate(532%) hue-rotate(117deg)
            brightness(92%) contrast(84%);
        }
      }
      // &:hover {
      //   border-radius: 6px;
      //   background: linear-gradient(
      //     90deg,
      //     rgba(108, 210, 192, 0.18) 37.74%,
      //     rgba(108, 210, 192, 0) 100%
      //   );
      // }
      &.active {
        filter: invert(63%) sepia(49%) saturate(532%) hue-rotate(117deg)
          brightness(92%) contrast(84%);
        align-items: center;
        border-radius: 6px;
        background: linear-gradient(
          90deg,
          rgba(108, 210, 192, 0.18) 37.74%,
          rgba(108, 210, 192, 0) 100%
        );
      }

      .title {
        margin: 0;
        padding-left: 15px;
      }
    }
  }
}
