<div class="content">
  <div class="main-content">
    <div>
      <img
        src="../../../assets/images/user-dashboard/break.svg"
        alt="break image"
      />
      <div class="inner-content">
        <img
          src="../../../assets/images/user-dashboard/projects.svg"
          alt="project image"
        />
        <img
          src="../../../assets/images/user-dashboard/apply-for-leave.svg"
          alt="apply for leave image"
        />
      </div>
      <img
        src="../../../assets/images/user-dashboard/leave-history.svg"
        alt=""
      />
    </div>
  </div>
  <div class="sub-content">
      <img
        src="../../../assets/images/user-dashboard/birthday.svg"
        alt="birthdays" class="birthdays"
      />
      <img
        src="../../../assets/images/user-dashboard/leave.svg"
        alt="leave image"
      />
      <img
        src="../../../assets/images/user-dashboard/calendar.svg"
        alt="calender image" class="calendar"
      />
  </div>
</div>
